* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: rgb(233, 233, 233);
    font-size: 14px;
}

/* Headings and logo */

h1, h2, h3 {
    text-transform: uppercase;
}

#logo { 
    margin-left: 30px;
    float: left;
    font-size: 180%;
    color: black;
}

/* Navigation links */

#navigation {
    float: right;
    font-size: 110%;
}

#logo, #navigation {
    line-height: 75px;
}

#navigation li {
    float:left;
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

/* Hero image and welcome text */

#hero {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}

#hero-image {
    width: 100%;
    height: 600px;
    background: url('../images/people-in-gym.jpg') no-repeat center center fixed;
}

#welcome-text {
    background-color: rgba(42, 192, 4, 0.7);  
    position: absolute;
    bottom: 100px;
    left: 100px; 
    padding: 20px 10px;
    font-size: 150%;
    color: white;
    text-transform: uppercase;
}

/* About section */

#about {
    height: 600px;
    width: 100%;
}

#about h2 {
    padding: 40px 0 10px 0;
}

#about h3 {
    padding: 10px 0;
}

#about-first-section {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

#left-box {
    width: 50%;
    float: left;
    padding-top: 30px;
}

#right-box {
    width: 50%;
    float: right;
    padding-top: 30px;
}

#left-content {
    width: 300px;
    float: right;
    clear: both;
    margin-right: 15px;
}

#right-content {
    width: 300px;
    float: left;
    clear: both;
    margin-left: 15px;
}

#right-photo {
    height: 300px;
    width: 300px;
    background: url('../images/children-in-gym.jpg') no-repeat center center;
}

#left-photo {
    height: 300px;
    width: 300px;
    background: url('../images/women-performing-zumba.jpg') no-repeat top right;
}

/* Footer */

footer {
    height: 150px;
    background-color: black;
    color: rgb(233, 233, 233);
}

footer table {
    float: left;
    padding-left: 30px;
    padding-top: 15px;
    font-size: 140%;
}

footer table th {
    text-transform: uppercase;
}

footer ul {
    float:right;
    list-style-type: none;
    font-size: 150%;
}
footer li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

footer a {
    color:rgb(233, 233, 233);
    line-height: 150px;
}

/* form */

#form-section{
    height: 600px;
    border-top: 1px solid rgb(201, 201, 201);
    clear: both;
}

#form {
    width: 400px;
    margin: 20px auto 0;
    background-color: rgba(42, 192, 4);
    color:black;
    padding: 0 20px 30px;
}

#form h2 {
    padding: 30px 20px;
}

.form-input {
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
}

#submit-button {
    height: 40px;
    padding: 0 15px;
    margin-top: 15px;
    font-weight: bold;
    background-color: rgb(213, 63, 251);
    color: white;
    border: 2px solid white;
    transition-duration: 0.6s;
}
#submit-button:hover {
    background-color: white;
    color: rgb(213, 63, 251);
}

/* gallery */

#photos {
    clear: both;
    column-count: 3;
    line-height: 0;
    column-gap: 0;
    background-color: rgb(233, 233, 233);
}

#photos > img {
    width: 100%;
}

/* media queries */

@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
}

@media screen and (max-width: 700px) {

    #navigation {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #welcome-text {
        bottom: 200px;
        left: 0;
    }
    
    #about {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #about-first-section {
        width: 100%;
        float: left;
    }

    #left-box, #right-box {
        width: 100%;
        float: left; 
    }

    #left-content, #right-content {
        float: none;
        margin: 0 auto;
    }  
    
    footer ul {
        clear: left;
        float: left;
        padding-left: 30px;
    }

    footer a {
        line-height: 55px;
    }

    #form {
        width: 300px;
    }
}    


@media screen and (max-width: 450px) {
    #left-content, #right-content, #left-photo, #right-photo {
        width: 200px;
    }
    #photos {
        column-count: 1;
    }

    #form {
        width: 200px;
    }
}