* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Headings and logo */

#header {
    height: 75px;
    width: 100%;
    background-color: rgb(233, 233, 233);
}

h1, h2, h3 {
    text-transform: uppercase;
}

#logo { 
    margin-left: 30px;
    float: left;
    font-size: 250%;
}

/* Navigation links */

#navigation {
    float: right;
}

#logo, #navigation {
    line-height: 75px;
}


#navigation li {
    float:left;
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

/* Hero image and welcome text */

#hero {
    clear: both;
    width: 100%;
    height: 600px;
    position: relative;
}

#hero-image {
    width: 100%;
    height: 600px;
    background: url('../images/people-in-gym.jpg') no-repeat center center fixed;
}

#welcome-text {
    /*width: 600px;*/
    /*height: 50px;*/
    background-color: rgba(42, 192, 4, 0.7);  
    position: absolute;
    bottom: 100px;
    left: 100px; 
    padding: 20px 10px;
    font-size: 150%;
    color: white;
    text-transform: uppercase;
}

/* About section */

#about {
    height: 600px;
    width: 100%;
    background-color: rgb(233, 233, 233);
}

#about h2 {
    padding: 40px 0 10px 0;
}

#about h3 {
    padding: 10px 0;
}

#about-first-section {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#about-first-section p{
    text-align: left;
}

#centered-box {
    height: 460px;
    width: 50%;
    margin: 0 auto; 
}

#left-box {
    height: 430px;
    width: 49%;
    float: left;
    text-align: center;
    padding-top: 30px;
}

#left-box p{
    text-align: left;
}

#right-box {
    height: 430px;
    width: 49%;
    float: right;
    text-align: center;
    padding-top: 30px;
   }

#right-box p{
    text-align: left;
}

#photo-box-right {
    height: 75%;
    width: 100%;
    background: url('../images/children-in-gym.jpg') no-repeat center center;
}

#photo-box-left {
    height: 75%;
    width: 100%;
    background: url('../images/women-performing-zumba.jpg') no-repeat top right;
}

/* Footer */

#footer {
    height: 150px;
    width: 100%;
    background-color: black;
    color: rgb(233, 233, 233);
    font-size: 180%;
}

#footer table {
    float: left;
}

#footer table th {
    text-transform: uppercase;
    padding-top: 15px;
}

#footer ul {
    float:right;
    list-style-type: none;
    margin-right: 30px;
    line-height: 150px;
}

#footer li {
    float:left;
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#footer a {
    color:rgb(233, 233, 233);
}

#form-section{
    height: 600px;
    background-color: white;
}

/* form */

#form {
    max-width: 400px;
    margin: 20px auto 0;
    background-color: rgba(42, 192, 4);
    color:black;
    padding: 0 20px 30px;
}

#form h2 {
    padding: 30px 20px;
}

.form-input {
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
}

#submit-button {
    height: 40px;
    padding: 0 15px;
    margin-top: 15px;
    font-weight: bold;
    background-color: rgb(213, 63, 251);
    color: white;
    border: 2px solid white;
    transition-duration: 0.6s;
}
#submit-button:hover {
    background-color: white;
    color: rgb(213, 63, 251);
}